{% load static %}<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <meta name="keywords" content="Search CNPJ, CNPJ, CNPJ Lookup, Learn, Blog, Pedro, Henrique, Pedro Henrique, Python, HTML, CSS, Django, Tutorial">
      <meta name="author" content="Pedro Henrique">
      <meta name="description" content="Your blog about Technology">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="{% static 'assets/img/small_profile_1kz_icon.ico' %}">
      <title>Pedro's Blog</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_slideshow_m.css' %}">
   </head>
   <body>
      <div class="cabecalho">
         <div class="navbar"><a class="active" href="/blog"><i class="fa fa-fw fa-home"></i> Home</a><a href="/" target="_blank"><i class="fa fa-address-card-o" aria-hidden="true"></i> About</a></div>
         <div class="titulo">
            <h1 class='victech'>Pedro's Blog</h1>
         </div>
         {% if usuario != "AnonymousUser" %}
            <span style="display:flex;">
               <form action="novo_post/" method="get"><input type="submit" value="Novo Post" class="button"></form>
               <a class="button" href="/acesso-restrito-pedro/">Painel do Administrador</a>
            </span>
         {% endif %}
         <form class="busca" action="{% url 'home' %}" method="post">
             {% csrf_token %}
             <input type="text" placeholder="What do you want?" name="search">
             <button type="submit">
                 <i class="fa fa-search"></i>
             </button>
         </form>
            {% for department in departments %}
                <div class="category">
                   <button class="category-drop-btn" category="{{ forloop.counter0 }}">{{department.name_department}}</button>
                   <div class="category-drop-content" category="{{ forloop.counter0 }}">
                      {% for category in department.category.all %}
                         {% if category.slug %}
                           <a href="{% url 'home_with_category' category_slug=category.slug %}"
                           style="background-color:{% if category.color %}{{category.color}}{% else %}#004662{% endif %};
                           color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;display: inline-block;">{{ category }}</a>
                         {% else %}
                           <a href="{% url 'home' %}"
                           style="background-color:{% if category.color %}{{category.color}}{% else %}#004662{% endif %};
                           color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;display: inline-block;">{{ category }}</a>
                         {% endif %}
                      {% endfor %}
                   </div>
                </div>
            {% endfor %}
      </div>
      <!--Anuncio-->
      <div class="card">
        <a href="https://discord.gg/Y6atBsj5Nm" target="_blank">
            Hey, do you want to talk to me? Please join my channel
        </a>
      </div>
      <!--Fim do Anuncio-->
      <div class="linha">
         {% if erro %}
         <div class="colunaEsquerda">
            <script>alert('{{mensagem}}')</script>
         </div>
         <!-- Coluna esquerda -->
         <div class="colunaEsquerda">
            {% for posts in post %}
            <div class="card">
               <form action="{% url 'post_detalhe' posts.slug %}" method="post">
                  {% csrf_token %}
                  <h2>{{posts.titulo}}</a></h2>
                  <p>{{posts.data_publicacao|date:'d-m-Y'}}</p>
                  <p>{{posts.descricao}}</p>
                  {% if posts.category.all %}
                    <p style="background-color:{% if posts.category.all.0.color %}{{posts.category.all.0.color}}{% else %}#004662{% endif %};
                    color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;display: inline-block;">{{posts.category.all.0.name}}</p>
                  {% endif %}
                  <p><a href="/">Pedro Henrique</a></p>
                  <input type="submit" value="Read more" class="button">
               </form>
            </div>
            {% endfor %}<!-- Paginação da página -->
            <div class="pagination"><span class="step-links">{% if post.has_previous %}<a class="button" href="?page={{ post.previous_page_number }}">Previous</a>{% endif %}<span class="current">Page {{ post.number }} of {{ post.paginator.num_pages }}.</span>{% if post.has_next %}<a class="button" href="?page={{ post.next_page_number }}">Next</a>{% endif %}</span></div>
         </div>
         {% else %}<!-- Coluna esquerda -->
         <div class="colunaEsquerda">
            {% for posts in post %}
            <div class="card">
               <form action="{% url 'post_detalhe' posts.slug %}" method="post">
                  {% csrf_token %}
                  <h2>{{posts.titulo}}</a></h2>
                  <p>{{posts.data_publicacao|date:'d-m-Y'}}</p>
                  {% if posts.category.all %}
                    <p style="background-color:{% if posts.category.all.0.color %}{{posts.category.all.0.color}}{% else %}#004662{% endif %};
                    color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;display: inline-block;">{{posts.category.all.0.name}}</p>
                  {% endif %}
                  <p>{{posts.descricao}}</p>
                  <p><a href="/">Pedro Henrique</a></p>
                  <input type="submit" value="Read more" class="button">
               </form>
            </div>
            {% endfor %}<!-- Paginação da página -->
            <div class="pagination"><span class="step-links">{% if post.has_previous %}<a class="button" href="?page={{ post.previous_page_number }}">Previous</a>{% endif %}<span class="current">Page {{ post.number }} of {{ post.paginator.num_pages }}.</span>{% if post.has_next %}<a class="button" href="?page={{ post.next_page_number }}">Next</a>{% endif %}</span></div>
         </div>
         {% endif %}<!-- Coluna Direita -->
         <div class="colunaDireita">
            <div class="card">
               <h2>About me</h2>
               <a href="/" target="_blank"><img class="img-sobre" src="{% static 'img/profile.jpeg'%}" alt="Pedro Henrique"></a>
               <p>Hello, welcome! My name is Pedro Henrique, I am a Python language apprentice, I really like to develop solutions and create things. In this blog, you will find some of my ideas and thoughts as a developer.</p>
            </div>

            <div class="card">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/wiup/" target="_blank">
                            <img src="{% static 'img/finding_hope.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Finding Hope">
                        </a>
                    </div>

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/tpoi/" target="_blank">
                            <img src="{% static 'img/escape_the_trap.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Escpae the trap">
                        </a>
                    </div>

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/xwdy/" target="_blank">
                            <img src="{% static 'img/why_jesus.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Why Jesus">
                        </a>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)" style="text-align:center">❮</a>
                    <a class="next" onclick="plusSlides(1)" style="text-align:center">❯</a>

                </div>
                <br>

                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

         </div>
      </div>
      <footer>
         <p>© Pedro Henrique Vicente de Sousa</p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="{% static 'js/blog_post_category.js'%}"></script>
      <script src="{% static 'js/slideshow.js'%}"></script>
   </body>
</html>