<!DOCTYPE html>
<html>
<head>
	<title>Zip Code Search</title>
	{% load static %}
	<link rel="icon" href="{% static 'assets/img/buscaCep.png'%}" type="image/gif" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>
<body>
	<header class="header_cep">
		<div>
			<h1 class="index_cep">Zip Code Search</h1>
		</div>
	</header>
	<form action="/dados-recebidos-cep" method="get">
		<!--Necessário para o métod POST-->
		<!--{% csrf_token %}-->
		<input class="cep" type="text" name="cep" placeholder="01153000">
		<input class="botao" type="submit" value="Search">
	</form>
	<div>
	<script type="text/javascript">
    	atOptions = {
    		'key' : 'b44dda13e10d3c00976fecd37bd136a4',
    		'format' : 'iframe',
    		'height' : 50,
    		'width' : 320,
    		'params' : {}
    	};
    	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/b44dda13e10d3c00976fecd37bd136a4/invoke.js"></scr' + 'ipt>');
    </script>
    </div>
	<p style="color:white;text-align:center;background-color:#87CEFA"> {{resultado.nome}} </p>

	<h1 class="texto">What is CEP?</h1>

	<article>
		<p>
			The CEP (Postal Address Code) is a numerical set made up of eight
			digits, which guides and speeds up routing, the treatment and
			distribution of correspondence objects, through their assignment to
			locations, public places, Post Office units, services, public
			bodies, companies, and buildings.
		</p>
		<p>
			Source: <a class="nubank" href="https://www.correios.com.br/enviar/precisa-de-ajuda/tudo-sobre-cep">Correios</a>
		</p>
		<p>
			API consumed by this project is made available by: <a class="receitaws" href="https://viacep.com.br/">ViaCEP</a>
		</p>

	</article>

	<footer>
		<a class="link" href="/">Developed by Pedro Henrique Vicente de SousaE-mail</a>
	</footer>
</body>
</html>