<!DOCTYPE html>
<html>
<head>
	<title>Busca CEP</title>
	{% load static %}
	<link rel="icon" href="{% static 'assets/img/buscaCEP.png'%}" type="image/gif" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>
<body>
	<header class="header_cep">
		<div>
			<img src="{% static 'assets/img/buscaCEP.png'%}">
		</div>
		<div>
			<h1 class="index_cep"> Consulte o seu CEP </h1>
		</div>
	</header>
	<form action="/dados-recebidos-cep" method="get">
		<!--Necessário para o métod POST-->
		<!--{% csrf_token %}-->
		<input class="cep" type="text" name="cep" placeholder="8 Dígitos sem . / ou - ">
		<input class="botao" type="submit" value="Buscar">
	</form>
	<p style="color:white;text-align:center;background-color:#87CEFA"> {{resultado.nome}} </p>

	<h1 class="texto">O que é um CEP</h1>

	<article>
		<img src="{% static 'assets/img/detalhesCep.jpg'%}">
		<p>		
			O CEP (Código de Endereçamento Postal) é um conjunto numérico constituído de oito algarismos, que orienta e acelera o encaminhamento, o tratamento e a distribuição de objetos de correspondência, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios.
		</p>
		<p>
			Fonte: <a class="nubank" href="https://www.correios.com.br/enviar/precisa-de-ajuda/tudo-sobre-cep">Correios</a>
		</p>
		<p>
			A API consumida por esse projeto é disponibilizada por: <a class="receitaws" href="https://viacep.com.br/">ViaCEP</a>
		</p>
		
	</article>

	<footer>
		<p>Desenvolvido por Pedro Henrique Vicente de Sousa</p>
		<a class="link" href="mailto:henriquevic012@gmail.com">E-mail</a>
		<a class="link" href="https://github.com/vic012/">GitHub</a>
	</footer>
</body>
</html>