{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      {% comment %}
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6857120087124175"
     crossorigin="anonymous"></script>
      {% endcomment %}
      <meta charset="utf-8">
      <meta name="keywords" content="Search CNPJ, CNPJ, CNPJ Lookup, Learn, Blog, Pedro, Henrique, Pedro Henrique, Python, HTML, CSS, Django, Tutorial">
      <meta name="author" content="Pedro Henrique">
      <meta name="description" content="Your Blog about technology">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="{% static 'assets/img/small_profile_1kz_icon.ico' %}">
      <title>{{post_descricao.titulo}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=desert"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_slideshow_m.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="cabecalho">
         <div class="navbar"><a class="active" href="/blog"><i class="fa fa-fw fa-home"></i> Home</a><a href="/" target="_blank"><i class="fa fa-address-card-o" aria-hidden="true"></i> About</a></div>
         <div class="titulo">
            <h1 class='victech'><a href="/blog">Pedro's Blog</a></h1>
         </div>
         {% if usuario != "AnonymousUser" %}
         <form action="{% url 'post_edit' post_descricao.slug %}" method="get"><input type="submit" value="Editar" class="button"></form>
         {% endif %}
      </div>
      <div class="linha">
         <div class="colunaEsquerda">
            <div class="card">
                <a href="https://discord.gg/Y6atBsj5Nm" target="_blank">
                    Hey, do you want to talk to me? Please join my channel
                </a>
            </div>
            <a href="#back-to-top-blog" id="back-to-top"><i class="fa fa-cloud-upload" style="font-size:48px;color:white;"></i></a>
            <div class="card-content">
               {% if table_content.content %}
                    <table>
                        <thead>
                            <tr>
                                <th>Get to the point</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for content in table_content.content %}
                                <tr>
                                    <td>
                                        <ul>
                                            <li><a href="#{{content.css}}">{{content.title}}</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
               {% endif %}
            </div>
            <div class="card card-post" id="back-to-top-blog">
               <h1>{{post_descricao.titulo}}</h1>
               <p><a href="/blog">Pedro Henrique</a></p>
               <p>{{post_descricao.data_publicacao|date:'d-m-Y'}}</p>
            </div>
            <div class="card card-post">
               <div class="texto_postagem">{{dados_post|safe}}</div>
               <form action="/blog"><input type="submit" value="Turn back" class=button></form>
            </div>
         </div>
         <div class="colunaDireita">
            <div class="card">
               <h2>About me</h2>
               <a href="/" target="_blank"><img class="img-sobre" src="{% static 'img/profile.jpeg'%}" alt="Pedro Henrique"></a>
               <p>Hello, welcome! My name is Pedro Henrique, I am a Python language apprentice, I really like to develop solutions and create things. In this blog, you will find some of my ideas and thoughts as a developer.</p>
            </div>
            <div class="card">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/wiup/" target="_blank">
                            <img src="{% static 'img/finding_hope.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Finding Hope">
                        </a>
                    </div>

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/tpoi/" target="_blank">
                            <img src="{% static 'img/escape_the_trap.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Escpae the trap">
                        </a>
                    </div>

                    <div class="mySlides fade">
                        <a href="https://online.flipbuilder.com/jazl/xwdy/" target="_blank">
                            <img src="{% static 'img/why_jesus.png' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="Why Jesus">
                        </a>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)" style="text-align:center">❮</a>
                    <a class="next" onclick="plusSlides(1)" style="text-align:center">❯</a>

                </div>
                <br>

                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
         </div>
      </div>
      <footer>
         <p>© Pedro Henrique Vicente de Sousa</p>
      </footer>
      <!-- Bootstrap core JS-->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="{% static 'js/blog_code.js'%}"></script>
      <script src="{% static 'js/slideshow.js'%}"></script>
   </body>
</html>