{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      </script>
      <meta charset="utf-8">
      <meta name="keywords" content="Vicpy, Aprender, Blog, Como, Pedro, Henrique, Python, HTML, CSS, Django, Tutorial">
      <meta name="author" content="Pedro Henrique">
      <meta name="description" content="VicPy é o blog sobre programação em Python e Django">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{post_descricao.titulo}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">
      <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
   </head>
   <body>
      <div class="cabecalho">
         <div class="navbar"><a class="active" href="/blog"><i class="fa fa-fw fa-home"></i> Inicio</a><a href="/" target="_blank"><i class="fa fa-address-card-o" aria-hidden="true"></i> Sobre</a></div>
         <div class="titulo">
            <h1 class='victech'><a href="/blog">VicPy</a></h1>
         </div>
         {% if usuario != "AnonymousUser" %}
         <form action="{% url 'post_edit' post_descricao.pk %}" method="get"><input type="submit" value="Editar" class="button"></form>
         {% endif %}
      </div>
      <div class="linha">
         <div class="colunaEsquerda">
            <div class="card">
               <h2>{{post_descricao.titulo}}</a></h2>
               <p><a href="/blog">Pedro Henrique</a></p>
               <p>{{post_descricao.data_publicacao}}</p>
               <div class="texto_postagem">{{dados_post|safe}}</div>
               <form action="/blog"><input type="submit" value="Voltar" class=button></form>
            </div>
         </div>
         <div class="colunaDireita">
            <div class="card">
               <h2>Sobre mim</h2>
               <a href="/" target="_blank"><img class="img-sobre" src="{% static 'img/profile.jpeg'%}" alt="Pedro Henrique"></a>
               <p>Olá seja bem vindo! O meu nome é Pedro Henrique, eu sou um aprendiz da linguagem Python, gosto muito de desenvolver soluções e de criar coisas.Neste blog você encontrará um pouco das minhas ideias e pensamentos como um programador, então curta o passeio enquanto navega por aqui.</p>
            </div>
         </div>
      </div>
      <footer>
         <p>© Pedro Henrique Vicente de Sousa</p>
      </footer>
   </body>
</html>